<div class="container my-5">  
  <div *ngIf="message" class="alert alert-success">
    {{ message }}
  </div>    
  <div class="row" *ngFor="let blog of blogs">
      <div class="card mt-3 border-0 bg-light rounded-3 shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-row">
            <h5 class="card-title fw-bold">{{ blog.title.toUpperCase() }}</h5>
            <div class="ms-auto">
              <a [routerLink]="['/my-blogs/', blog._id, 'edit-blog']">
                <i class="bi bi-pencil text-dark fs-4"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#myModal">
                <i class="bi bi-trash text-danger fs-4 mx-3"></i>
              </a>
            </div>
          </div>
          <div class="description">
            <p class="card-text" [innerHTML]="blog.body.substring(0,190) + '...'"></p>
          </div>
          <div class="mt-2">
            <div class="tag-list mt-3">
              <a *ngFor="let tag of blog.tags"
                 class="btn-sm rounded-pill mx-2 text-dark" id="tags">
                 {{ tag }}
              </a>
            </div>
          </div>
          <div class="mt-4">
            <span class="text-muted">
              <i class="bi bi-chat"></i>
              <span class="mx-1">{{ blog?.comments?.length }} comments</span>
            </span>
            <a class="float-end btn btn-warning" id="read-more-btn" [routerLink]="['/all-blogs/', blog._id, 'view-blog']">
              Read More
            </a>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete the Blog?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteBlog(blog._id)">Delete</button>
                </div>
          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



