<div class="container">
    <!-- Hero Section -->
    <div class="row d-flex align-items-center">
        <div class="col-lg-6">
            <span class="text-secondary fst-italic">Create a unique and beautiful blog.</span>
            <h1 class="fw-bold display-4">Publish Your Passions, <br> Your Way</h1>
            <p class="text-secondary">It's easy. Just Login and get started!</p>
            <a class="btn btn-warning text-white rounded-pill mt-3" routerLink="/login">
                Get Started
            </a>
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/Blog post-amico.png" alt="image" class="img-fluid">
        </div>
    </div>
</div>

    
                    
                    
                   